<h1>People - Powered by Ruby on Rails and MongoDB</h1>
<div class="well">
  <%= link_to "New Person", new_person_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Notes</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @people.size == 0 %>
      <tr>
        <td colspan="6">No people found.</td>
      </tr>
    <% else %>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.email %></td>
          <td><%= person.notes %></td>
          <td>
            <%= link_to "Edit", edit_person_path(person), class: "btn btn-default" %>
          </td>
          <td>
            <%= button_to "Delete", person, method: :delete, data: { confirm: "Are you sure you wish to delete #{person.first_name} #{person.last_name}?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </tbody>

</table>
    <footer class="w3-container w3-teal w3-center w3-margin-top">
	      <!--<p>Find me on social media.</p>
	        <i class="fa fa-facebook-official w3-hover-opacity"></i>
		  <i class="fa fa-instagram w3-hover-opacity"></i>
		    <i class="fa fa-snapchat w3-hover-opacity"></i>
		      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
		        <i class="fa fa-twitter w3-hover-opacity"></i>
			<i class="fa fa-linkedin w3-hover-opacity"></i>-->
			    <p>Fernando Guevara - ferbusson@gmail.com</p>
    </footer>

